# List Excercises- Basic

A list is a collection of items in a particular order. Lists are mutable, which means that they can be changed in their original place in memory.

Unlike arrays in other programming languages, lists can hold items of different data types. Python does NOT have arrays as a native data structure. We can use other libraries to use arrays when we need to optimize speed and mathematic calculations.
<br></br>
Lists in Python are noted with square brackets when used after an "=", with commas separating the individual elements in the list.

In [22]:
new_list= ['apple', 'orange', 12, ['peanut', 'butter', 'jelly', 'time']]

print(new_list)

['apple', 'orange', 12, ['peanut', 'butter', 'jelly', 'time']]

**Indexing & Slicing**

We can access indivdual elements of a list is the same as accessing them from a string, by using their index.

In [24]:
print(new_list[2])
print(new_list[-1])

12
['peanut', 'butter', 'jelly', 'time']

Slicing is available for lists. We use the same syntax of start:stop:step when slicing a list. We can build onto our understanding of slices by looping through just a slice of our list.

In [28]:
print(new_list[0:3])

for item in new_list[0:3]:
  print(item)

['apple', 'orange', 12]
apple
orange
12

The syntax for modifying elements to a list is similar to accessing elements in a list through indexing

In [3]:
new_list[0]= 'banana'
print(new_list)

['banana', 'orange', 12, ['peanut', 'butter', 'jelly', 'time']]

**Adding Elements to a List**

There are several ways to add new elements to a list.

The simplest way to add a new element to a list is to use the append() method. This method adds a new element to the end of a list. 
<br></br>
append() makes it easy to build lists dynamically, especially when appending in a for loop.

In [5]:
new_list.append(23)
print(new_list)

list1= []

for i in range(10):
  list1.append(i)

print(list1)

['banana', 'orange', 12, ['peanut', 'butter', 'jelly', 'time'], 23, 23]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

You can also add a new element at any position in a list by using the insert() method.

We can do this by specifying the index of the new element and its value. The insert() method shifts all previous values one position to the right.

In [6]:
new_list.insert(0, 'grape')

print(new_list)

['grape', 'banana', 'orange', 12, ['peanut', 'butter', 'jelly', 'time'], 23, 23]

**Removing Elements from a List**

We can remove a(n) element(s) from a list either by either the position or the value.
<br></br>

If we know the position of the element we want to remove from a list we can use the del statement. One key thing to note, the value is no longer able to be accessed using this statement.

In [8]:
del new_list[2]
del new_list[-1]
print(new_list)

['grape', 'banana', ['peanut', 'butter', 'jelly', 'time'], 23]

If we want to use the value of the item after it has been removed from the list, we can use the pop() method. This method removes the last item in the list by default. Optionally, we can pass the index that we want to pop as an argument to the method to return its value.

In [1]:
food= ['burger', 'fries', 'pizza', 'hotdog']
food_item= food.pop()
food_item2= food.pop(1)

print(food_item)
print(food_item2)
print(food)

hotdog
fries
['burger', 'pizza']

We can also remove an item from a list by value using the remove() method.

In [12]:
transportation= ['planes', 'trains', 'automobiles', 'boats']

transportation.remove('automobiles')
item_remove= 'trains'
transportation.remove(item_remove)

print(transportation)
print(item_remove)

['planes', 'boats']
trains

**Organizing Lists**

There are many times that we do not have control the order in which the elements of a list are created, but we want the list to be ordered in a particular way. There are methods in the List Class that can help us with this.

<br></br>

The sort() method changes the order of a list permenately in alphabetical order. There is not an "undo" method to get our list back in its original state.

In [15]:
instruments= ['piano', 'flute', 'guitar', 'trumpet']

instruments.sort()

print(instruments)

['flute', 'guitar', 'piano', 'trumpet']

We can also use the sort() method to have our list in reverse alphabetical order by passing the arguement reverse=true

In [16]:
instruments.sort(reverse=True)

print(instruments)

['trumpet', 'piano', 'guitar', 'flute']

How does this change if all of our values are not strings or not all in the same case?

In [2]:
instruments= ["Piano", 'flute', 'guitar', 'Guitar', 'trumpet']
mixed_list= ['piano', 1, 'trumpet', 5]

instruments.sort()
print(instruments)

mixed_list.sort()
print(mixed_list)

['Guitar', 'Piano', 'flute', 'guitar', 'trumpet']

TypeError: '<' not supported between instances of 'int' and 'str'

If we only want to sort a list temporarily we can use the sorted function. The sorted function allows us to display the list in alphabetical order, but the original list is unchanged. This function also accepts the reverse=True arguement.

In [19]:
instruments= ['piano', 'flute', 'guitar', 'trumpet']

print(sorted(instruments))

['flute', 'guitar', 'piano', 'trumpet']

If we want an easy way to reverse the order of the original list we can use the reverse() method. You cannot undo this change, but you can just REVERSE! REVERSE! aka call the reverse method again to change it back the original order.

In [7]:
furniture= ['couch', 'chair', 'bed', 'table']

furniture.reverse()

print(furniture)

['table', 'bed', 'chair', 'couch']

**Copying a List**

When copying a list. We might think it is as easy as the script below.

In [11]:
furniture2= furniture

print(furniture2)

['table', 'bed', 'chair', 'couch', 'armoire']

However if we start to manipulate these two variables we will see that is not the case.

In [13]:
furniture2.append("armoire")

print(furniture2)
print(furniture)

['table', 'bed', 'chair', 'couch', 'armoire', 'armoire', 'armoire']
['table', 'bed', 'chair', 'couch', 'armoire', 'armoire', 'armoire']

Armoire got added to both variables? Not quite. By setting furniture2 = furniture we actually created another pointer to the same place in memory. What we do under one variable name impacts the other. 

Instead, we can create a slice of the full list and assign that to a new variable.

In [31]:
transportation= ['planes', 'trains', 'automobiles', 'boats']

new_transportation= transportation[:]
new_transportation.append('bicycle')

print(new_transportation)
print(transportation)

['planes', 'trains', 'automobiles', 'boats', 'bicycle']
['planes', 'trains', 'automobiles', 'boats']